<div>
  <md-list>
    <md-list-item><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></md-list-item>
    <md-list-item><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </md-list-item>
    <md-list-item><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></md-list-item>
  </md-list>

  <button md-button color="primary">
    Click me!
    <i class="material-icons">face</i>
  </button>

  <button md-raised-button color="primary">
    Click me!
  </button>

  

</div>
